<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" contents="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" contents="ie=edge">
     <title>Cafe Menu</title>
     <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
     <link rel="stylesheet" href="style.css">
<style>
    ul{
        padding-top: 10px;
        margin: 20px 30px;
    }
    ul li{
        margin: 3px;
        list-style: none;
    }
    ul li a{
        text-decoration: none;
        color: black;
    }
</style>
</head>
<body>
    <ul>
        <li><i class="fas fa-home"></i><a href="idp front end.html">&nbsp;&nbsp; Home &nbsp; ></a></li>
        <li><i class="fas fa-id-card"></i><a href="#">&nbsp;&nbsp; Menu </a></li>
    </ul>
<div class="wrapper">
        <div class="title">
            <h4><span>Coffee Shop</span>our menu</h4>
        </div>
        <div class="menu">
            <div class="single-menu">
                <img src="coffee americano.jpg" alt="">
                <div class="menu-content">
                    <h4>Coffee americano <span>$3</span></h4>
                    <p>espresso made to the strength of drip coffee.</p>
                </div>
            </div>
            <div class="single-menu">
                <img src="cafe latte.jpg" alt="">
                <div class="menu-content">
                    <h4>Cafe latte <span>$4</span></h4>
                    <p>espresso,steamed milk,foam.</p>
                </div>
            </div>
            <div class="single-menu">
                <img src="cafe mocha.jpg" alt="">
                <div class="menu-content">
                    <h4>Cafe mocha <span>$5</span></h4>
                    <p>espresso,steamed milk,foam,creamy chocolate.</p>
                </div>
            </div>
            <div class="single-menu">
                <img src="cappuccino.jpg" alt="">
                <div class="menu-content">
                    <h4>Cappuccino <span>$4</span></h4>
                    <p>espresso,steamed milk, 1/3foam.</p>
                </div>
            </div>
            <div class="single-menu">
                <img src="chocolate-brownie-cake_.jpg" alt="">
                <div class="menu-content">
                    <h4>Chocolate brownie cake <span>$3</span></h4>
                    <p>_______________________________________</p>
                </div>
            </div>
            <div class="single-menu">
                <img src="coffee brownie pie cake.jpg" alt="">
                <div class="menu-content">
                    <h4>Coffee brownie pie cake <span>$3</span></h4>
                    <p>_______________________________________.</p>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>